:root{
    --clr-violet: #755CDE;
    --clr-orange: #F6A560;
    --clr-pink: #F39E9E;
    --clr-red: #EB7565;
    --clr-blue: #61C4B7;
    --clr-purple: #552049;
    --clr-black: #030303;
    --clr-gray: #7A746E;
    --clr-white: #FFF7F0;
    --clr-letter: black; 

    --fs-body: "Plus Jakarta Sans", sans-serif bold;

    --fsz-l: 3.5rem;
    --fsz-m: 2.5rem;
    --fsz-s: 2rem;


    --fsw-l: 4.375rem;
    --fsw-m: 3.1875rem;
    --fsw-s: 2.5rem;
}

body {
    background-color: var(--clr-white);
    color: var(--clr-letter);
    font-family: var(--fs-body);
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 3.2rem;
    margin-right: 9.4rem;
    margin-left: 9.4rem;
}

#logo img {
    max-width: 4rem;
    aspect-ratio: 1;
}

#call-to-action {
    background-color: var(--clr-black);
    color: var(--clr-white);
    text-decoration: none;
    padding: 1rem 2.8rem;
    border-radius: 62.5rem;
}

.text-content {
    text-align: center;
    padding-bottom: 3.2rem;
}

h1 {
    font-size: var(--fsz-l);
    font-weight: var(--fsw-l);
    margin-block-end: 1.5rem;
}

.text-content p {
    color: var(--clr-gray);
}

.image-container {
    display: flex;
    gap: 1.5rem;
    margin-left: 9.4rem;
    margin-right: 9.4rem;
}

.image-container a {
    aspect-ratio: 4 / 5;
    flex-basis: 100%;
    border-radius: 1.25rem;
    text-decoration: none;
    width: 22.2rem;
    height: 31.2rem;
    display: grid;
}

#imagen1 {
    background-color: var(--clr-violet);
}

#imagen2 {
    background-color: var(--clr-red);
}

#imagen3 {
    background-color: var(--clr-blue);
}


.image-container h2 {
    color: var(--clr-white);
    justify-self: end;
    align-self: end;
}


#img1 {
    max-width: 8rem;
    max-height: 12rem;
    grid-column: 3;
    justify-self: end;
    margin: 2rem;
}

#img2 {
    max-width: 12rem;
    max-height: 7.2rem;
    grid-column: 3;
    justify-self: end;
    margin: 2rem;
}

#img3 {
    max-width: 5.5rem;
    max-height: 13.6rem;
    grid-column: 3;
    justify-self: end;
    margin: 2rem;
}

.section2 {
    display: flex;
    align-items: center;
    margin-top: 6.25rem;
    margin-bottom: 6.25rem;
    margin-right: 9.4rem;
    margin-left: 9.4rem;
}

#circulo {
    max-width: 27.9rem;
    max-height: 27.9rem;
}

.section2_2 h3 {
    font-size: var(--fsz-m);
    font-weight: var(--fsw-m);
}

.section2_2 p {
    font-size: var(--fsz-s);
    font-weight: var(--fsw-s);

}

.section2_2 {
    padding-inline-start: 12.5rem;
}

.section2_2 button {
    background-color: var(--clr-red);
    border-radius: 1.8rem;
    padding-block: 1.2rem;
    padding-inline: 3.2rem;
    color: var(--clr-white);
    border-color: var(--clr-red);
}

#work {
    color: var(--clr-black);
    text-align: center;
    font-size: var(--fsz-m);
    font-weight: var(--fsw-m);
}

.carrete {
    display: flex;
    justify-content: space-between;
    margin-block: 3rem;
}

@media (width < 1400px) {
    .image-container {
        justify-content: center;
        display: grid;
    }

    .image-container a {
        width: 22.2rem;
        height: 31.2rem;
        flex-basis: 100%;
        aspect-ratio: 4/5;
    }
}

@media (width < 1400px) {
    .carrete {
        display: grid;
        /*justify-content: center;*/
        /*align-items: center;*/
        justify-items: center;
    }

    .carrete img{
      margin-block: 1rem;  
    }

}

@media (width < 1000px) {
    #circulo {
        max-width: 13.9rem;
        max-height: 13.9rem;
    }

    .section2{
        display: flex;
    align-items: start;
    margin-inline: 0;
    }

    .section2_2{
        padding-inline-start: 0;
    }

    .section2_2 p{
        font-size: 0.8rem;
    }

    .section2_2 h3{
        font-size: 1.5rem;
    }
}

@media  (width < 700px){
    nav{
        display: flex;
        justify-content: space-evenly;
        margin-left: 1rem;
        margin-right: 1rem;
        align-items: center;
    }
}